<!-- header / navbar section -->

<header>

    <a href="<%= RouterDictionary.INDEX %>" class="logo"><i class="fas fa-utensils"></i>Love Appetite</a>

    <div id="menu-bar" class="fas fa-bars"></div>

    <nav class="navbar">
        <a href="<%= `${RouterDictionary.INDEX}#home` %>">home</a>
        <a href="<%= `${RouterDictionary.INDEX}#speciality` %>">speciality</a>
        <a href="<%= `${RouterDictionary.INDEX}#popular` %>">popular</a>
        <a href="<%= `${RouterDictionary.INDEX}#gallery` %>">gallery</a>
        <a href="<%= `${RouterDictionary.INDEX}#order` %>">order</a>
        <a href="<%= RouterDictionary.LOGIN %>">login</a>
    </nav>

</header>